.iconCard {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconBadge {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
