.skeleton {
  background-color: rgba(0, 0, 0, 0.11);
  animation: pulse 1.5s ease-in-out 0.5s infinite;
  display: inline-block;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.rectangular {
  border-radius: 4px;
}

.circular {
  border-radius: 50%;
}

.text {
  border-radius: 4px;
  height: 1em;
  margin: 0.5em 0;
}

/* Dark mode support */
@media (prefers-color-scheme: dark) {
  .skeleton {
    background-color: rgba(255, 255, 255, 0.13);
  }
}
